
 <h1> {{title}}</h1>

 <a href = "/"> <button type="button" class="home-button">Home </button> </a>

 {{!-- <div class="hero-image">
  <div class="hero-text">
        </div>
</div> --}}


<div class="container">
    <div class="row">
    <div class="col-sm-4">
<p class="opening">
        <span style="color:white">Title: </span>{{title}}
    <br>
        <span style="color:white">Written by: </span> {{author}}
    <br>
        <span style="color:white">Genre: </span> {{genre}}
    <br>
        <span style="color:white">Series: </span> {{series}}
    <br>
        <span style="color:white">I read it in the year: </span> {{yearRead}}
    <br>
        <span style="color:white">Page count: </span>{{pageNumbers}}
    <br>    
    📕
 </p>
</div>
 <div class="col-sm-8">
            <p class="opening">
            <span style="color:white">Description: </span> {{description}}
            </p>
            </div>


<div class="row_book">
  <div class="column_book">
    <img src="/images/plants.jpeg" alt="Snow" style="width:100%">
  </div>
  <div class="column_book">
    <img src="/images/c0704f80-37c0-4910-b2cc-b398f5e11374.__CR0,0,300,300_PT0_SX300_V1___.jpeg" alt="Forest" style="width:100%">
  </div>
  <div class="column_book">
    <img src="/images/sunset.jpeg" alt="Mountains" style="width:100%">
  </div>
</div>
    